<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style>
        table, th, td {
          border: 1px solid black;
        }



    </style>
</head>
<body>
<h1>Results for mail and address</h1>
<table>
    <thead>
    <tr>
        <th> Id</th>
        <th> Mail</th>
        <th> Mail type</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="mails : ${contacts.mails}">

        <td><span th:text="${mails.id}"> ID </span></td>
        <td><span th:text="${mails.mail}"> Full Name </span></td>
        <td><span th:text="${mails.mailType}"> PIN </span></td>
        <td>
            <a th:href="@{/people/edit/mail(id=${mails.id})}">Edit</a>
        </td>
        <td>
            <a th:href="@{/people/delete/mail(id=${mails.id})}">Delete</a>
        </td>

    </tr>
    </tbody>
    <thead>
    <tr>
        <th> Id</th>
        <th> Address type</th>
        <th> Address info</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="address : ${contacts.addresses}">

        <td><span th:text="${address.id}"> ID </span></td>
        <td><span th:text="${address.addrType}"> PIN </span></td>
        <td><span th:text="${address.addrInfo}"> PIN </span></td>
        <td>
            <a th:href="@{/people/edit/address(id=${address.id})}">Edit</a>
        </td>
        <td>
            <a th:href="@{/people/delete/address(id=${address.id})}">Delete</a>
        </td>
    </tr>

    </tbody>
</table>
</body>
</html>


