<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<body>
<h1>Edit Information</h1>
<h2>Edit person</h2>
<form action="#" th:action="@{/people/edit}" th:object="${people}" method="post">
    <table>
        <tr>
            <td>Full Name:</td>
            <td><input type="text" th:field="*{fullName}"/></td>
            <td th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}">Name Error</td>
        </tr>
        <tr>
            <td>PIN:</td>
            <td><input type="text" th:field="*{pin}" maxlength="10"/></td>
            <td th:if="${#fields.hasErrors('pin')}" th:errors="*{pin}">Age Error</td>
        </tr>
    </table>
    <input type="submit" value="Create"/>
    <input type="reset" value="Reset"/>
</form>
<h2>Edit address</h2>

<form action="#" th:action="@{/people/edit}" th:object="${addressesForm}"
      method="post">
    <fieldset>
        <input type="submit" id="submitButton" th:value="Save">
        <input type="reset" id="resetButton" name="reset" th:value="Reset"/>
        <table>
            <thead>
            <tr>
                <th> Address type</th>
                <th> Address info:</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="address, itemStat : *{addresses}">
                <td><input maxlength="5" th:field="*{addresses[__${itemStat.index}__].addrType}" /></td>
<!--                <td th:if="${#fields.hasErrors('address.addrType')}" th:errors="${address.addrType}">Address type Error</td>-->
                <td><input maxlength="10"th:field="*{addresses[__${itemStat.index}__].addrInfo}" /></td>
<!--                <td th:if="${#fields.hasErrors('address.addrInfo')}" th:errors="${address.addrInfo}">Address info Error</td>-->
            </tr>
            </tbody>
        </table>
    </fieldset>
</form>

<h2>Edit mail</h2>
<form action="#" th:action="@{/people/edit/mails}" th:object="${mailsForm}"
      method="post">
    <fieldset>
        <input type="submit" id="submitButton" th:value="Save">
        <input type="reset" id="resetButton" name="reset" th:value="Reset"/>
        <table>
            <thead>
            <tr>
                <th> Mail </th>
                <th> Mail type:</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="mail, itemStat : *{mails}">
                <td><input  maxlength="5" th:field="*{mails[__${itemStat.index}__].mail}" /></td>
                <!--                <td th:if="${#fields.hasErrors('address.addrType')}" th:errors="${address.addrType}">Address type Error</td>-->
                <td><input  maxlength="10"th:field="*{mails[__${itemStat.index}__].mailType}" /></td>
                <!--                <td th:if="${#fields.hasErrors('address.addrInfo')}" th:errors="${address.addrInfo}">Address info Error</td>-->
            </tr>
            </tbody>
        </table>
    </fieldset>
</form>

</body>

</html>