<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<body>
<h1>Edit Information</h1>
<h2>Edit person</h2>
<form action="#" th:action="@{/people/edit}" th:object="${peopleDto}" method="put">

    <table>
        <tr>
            <td>Full Name:</td>
            <td><input type="text" th:field="*{fullName}"/></td>
            <td th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}">Name Error</td>
        </tr>
        <tr>
            <td>PIN:</td>
            <td><input type="text" th:field="*{pin}" maxlength="10"/></td>
            <td th:if="${#fields.hasErrors('pin')}" th:errors="*{pin}">Age Error</td>
        </tr>
    </table>
    <input type="submit" value="Create"/>
    <input type="reset" value="Reset"/>
</form>
<h2>Edit mail</h2>

<form action="#" th:action="@{/people/create/mail}" th:object="${mailsDto}" method="post">
    <input type="hidden" th:field="*{peopleId}"/>
    <table>
        <tr>
            <td>Mail: </td>
            <td><input type="text" th:field="*{mail}" /></td>
            <td th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}">Mail Error</td>
        </tr>
        <tr>
            <td>Mail type:</td>
            <td><input type="text" th:field="*{mailType}" maxlength="5"/></td>
            <td th:if="${#fields.hasErrors('mailType')}" th:errors="*{mailType}">Mail type Error</td>
        </tr>
    </table>

    <input type="submit" value="Create"/>
    <input type="reset" value="Reset"/>
</form>
<h2>Edit address</h2>

<form action="#" th:action="@{/people/create/address}" th:object="${addressesDto}" method="post">
    <input type="hidden" th:field="*{peopleId}"/>
    <table>
        <tr>
            <td>Address type: </td>
            <td><input type="text" th:field="*{addrType}" maxlength="5"/></td>
            <td th:if="${#fields.hasErrors('addrType')}" th:errors="*{addrType}">Address type Error</td>
        </tr>
        <tr>
            <td>Address info:</td>
            <td><input type="text" th:field="*{addrInfo}" maxlength="10"/></td>
            <td th:if="${#fields.hasErrors('addrInfo')}" th:errors="*{addrInfo}">Address info Error</td>
        </tr>
    </table>

    <input type="submit" value="Create"/>
    <input type="reset" value="Reset"/>
</form>
</body>
</html>